<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Path" value="\\?\D:\Share\Archive\TEST"/><!-- Path to the protected area with long filenames over 260 -->
    <add key="Deny" value="AD\TEST"/><!-- AD group to deny writing rights or empty if just to test -->
    <add key="Log" value="logs"/><!-- Path to write logs -->
    <add key="Delay" value="0:15"/><!-- hh:mm[:ss] -->
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    <!-- additional supported versions if any:
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    -->
  </startup>
  <!-- a workaround for older versions:
  <runtime>
    <AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />
  </runtime>
  -->
</configuration>
